* {
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    color: white;
    background-color: #1F2937;
}

.headertop {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    padding: 10px 0 0 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.titlesub {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 333px;
}

.headerbody {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

.hbleft * {
    margin: 10px;
}

.hbright img {
    max-height: 125px;
}

.headerbody button {
    background-color: #3882F6;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
}

.section2 {
    margin: 50px;
    text-align: center;
}

.h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin: 50px;
}

.boxes {
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 50px;
}

.boxes img {
    max-height: 200px;
}

span {
    color: #1F2937;
}

.section3 {
    background-color: #E5E7EB;
    padding: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote {
    font-size: 34px;
    font-weight: 100;
    color: gray;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.section4 {
    padding: 100px 150px;
}

.call-action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    padding: 40px 60px;
    border-radius: 15px;
}

h5 {
    font-size: 24px;
    color: #F9FAF8;
}

.call-action span {
    color: #E5E7EB;
    font-size: 18px;
}

.call-action button {
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    padding: 30px;
    font-size: 17px;
    text-align: center;
}

.footer span {
    color: #F9FAF8
}